html,
body {
    height: 100%;
    font-family: 'Montserrat';
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* ---  start navbar  --- */
.navbar a {
    margin-right: 3rem;
}
.navbar a img {
    height: 80px;
    width: 80px;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
/* ---  end navbar  --- */

/* ---  start breadcrumb  --- */
.breadcrumb {
    background-color: white;
    margin: 1rem 1rem 1rem 1rem;
    padding: 0.4rem 0 0.4rem 1rem;
}
.breadcrumb li a {
    font-size: .8rem;
    color: #0078fc;
}
.breadcrumb .active {
    font-size: .8rem;
    padding: 3px 0;
}
.breadcrumb > li + li:before {
    padding: 5px;
    color: #ccc;
    content: ">";
    font-size: .8rem;
}
/* ---  end breadcrumb  --- */

/* ---  start layout  --- */
#layout {
    background: url("../img/bg-index.jpg");
    background-size: contain;
}
/* ---  end layout  --- */

/* ---  start index  --- */
#index .desc p {
    font-size: 1.3rem;
    margin: 0.4rem 0 0 0;
}
#index .border-success h4,
#index .border-primary h4 {
    color: white;
}
/* ---  end index  --- */

/* ---  start free-sections  --- */
#free-sections h4,
#free-sections h5 {
    color: white;
}

#free-sections #header img {
    height: 5rem;
    width: 5rem;
}
#free-sections #header p {
    font-size: 1.3rem;
    padding-bottom: .5rem;
}

#free-sections .section .img {
    color: #28a745;
    min-width: 5rem;
    padding-left: 0;
}
#free-sections .section h4 {
    color: black;
}
#free-sections .section p {
    margin: 0;
}
/* ---  end free-sections  --- */

/* ---  start free-list  --- */
#free-list h4,
#free-list h5 {
    color: white;
}

#free-list #header img {
    height: 4rem;
    width: 4rem;
}
#free-list #header p {
    font-size: 1.3rem;
}

#free-list .card-body {
    padding-bottom: 0.5rem;
}

#free-list .db p {
    margin: 0;
}
#free-list .db span {
    color: gray;
    font-size: .9rem;
    padding: 0 0 0 0.4rem;
}
/* ---  end free-list  --- */

/* ---  start paid-sections  --- */
#paid-sections h4,
#paid-sections h5 {
    color: white;
}

#paid-sections #header img {
    height: 5rem;
    width: 5rem;
}
#paid-sections #header p {
    font-size: 1.3rem;
    padding-bottom: .5rem;
}

#paid-sections .section .img {
    color: #007bff;
    min-width: 5rem;
    padding-left: 0;
}
#paid-sections .section h4 {
    color: black;
}
#paid-sections .section p {
    margin: 0;
}
/* ---  end paid-sections  --- */

/* ---  start paid-list  --- */
#paid-list h4,
#paid-list h5 {
    color: white;
}

#paid-list #header img {
    height: 4rem;
    width: 4rem;
}
#paid-list #header p {
    font-size: 1.3rem;
}

#paid-list .card-body {
    padding-bottom: 0.5rem;
}

#paid-list .db p {
    margin: 0;
}
#paid-list .cost {
    color: #28a745;
    font-size: 1.2rem;
    padding: 0.3rem 0 1rem 0;
}
#paid-list .cost span {
    background-color: #ffc107;
    color: white;
    padding: 0.4rem 0.8rem;
}

#paid-list input[type="text"],
#paid-list input[type="text"]:focus {
    border: 1px solid #acafff !important;
    padding: 0.4rem 0.8rem;
}

#paid-list .card-footer span {
    color: gray;
    font-size: .9rem;
    padding: 0 0 0 0.4rem;
}
/* ---  end paid-list  --- */
/*
#paid-list h4,
#paid-list h5 {
    color: white;
}


#paid-list .desc p {
    font-size: 1.3rem;
    padding-bottom: .6rem;
}
#paid-list .db {
    border: 1px solid #acafff !important;
    background-color: rgba(95, 101, 255, 0.04);
}
#paid-list .db .title {
    font-size: 1.3rem;
    display: table-cell;
}

#paid-list .db .download span {
    color: gray;
    font-size: .9rem;
    padding: 0 0 0 0.4rem;
}

#paid-list .db .desc {
    color: #28a745;
    font-size: 1rem;
    padding: 0.7rem 0 0 2rem;
}

#paid-list .card .download {
    color: #28a745;
    font-size: 1rem;
    padding: 0.7rem 0 0 2rem;
}
#paid-list .card .cost {
    color: #28a745;
    font-size: 1.2rem;
    padding: 0 0 0 2rem;
}
#paid-list .db .cost span {
    background-color: #ffc107;
    color: white;
    font-size: 1.4rem;
    padding: 0.4rem 1rem;
}

#paid-list img {
    height: 4rem;
    width: 4rem;
}

/* ---  start order-detail  --- */
#order-detail img {
    height: 5rem;
    width: 5rem;
}
#order-detail .block {
    border: 1px solid #ffc107 !important;
    background-color: rgba(255, 193, 7, 0.04);
}
#order-detail .title {
    font-size: 1.3rem;
}
#order-detail ul {
    margin-bottom: 0;
}
#order-detail ul li {
    padding-bottom: 1rem;
}

#order-detail #condition {
    font-size: 0.8rem;
}
#order-detail #condition ul {
    margin-bottom: 0.5rem;
}
#order-detail #condition ul li {
    line-height: 1.4rem;
    padding-bottom: 0.5rem;
}
/* ---  end order-detail  --- */

/* ---  start footer  --- */
.footer {
    background-color: black;
}
.footer .row {
    color: white;
}
/* ---  end footer  --- */

/* ---  start buy-form  --- */
.buy-form .cost span {
    background-color: #ffc107;
    color: white;
    padding: 0.4rem 0.8rem;
}
.buy-form .help-block {
    font-size: 0.8rem;
    color: #dc3545;
}
/* ---  end buy-form   --- */

/* ---  start custom  --- */
.form-control:focus {
    box-shadow: none;
}
.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
    border-color: #dc3545;
    box-shadow: none;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
    padding-right: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 0;
}
div.required label:after {
    content: " *";
    color: #dc3545;
}
/* ---  end custom  --- */
